{% extends 'global/master.html' %}

{% block title %}
    Edit trip
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'app:edit' id %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.destination.id_for_label }}">{{ form.destination.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.destination.id_for_label }}" name="{{ form.destination.name }}" value="{{ form.destination.value }}">
            {% if form.destination.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.destination.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <input type="date" class="form-control" id="{{ form.date.id_for_label }}" name="{{ form.date.name }}" value="{{ form.date.value }}">
            {% if form.date.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.date.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.cost.id_for_label }}">{{ form.cost.label_tag }}</label>
            <input type="number" class="form-control" id="{{ form.cost.id_for_label }}" name="{{ form.cost.name }}" value="{{ form.cost.value }}">
            {% if form.cost.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.cost.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.travel_agency.id_for_label }}">{{ form.travel_agency.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.travel_agency.id_for_label }}" name="{{ form.travel_agency.name }}" value="{{ form.travel_agency.value }}">
            {% if form.travel_agency.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.travel_agency.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.num_travellers.id_for_label }}">{{ form.num_travellers.label_tag }}</label>
            <input type="number" class="form-control" id="{{ form.num_travellers.id_for_label }}" name="{{ form.num_travellers.name }}" value="{{ form.num_travellers.value }}">
            {% if form.num_travellers.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.num_travellers.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
    </form>


{% endblock %}